 .flex {
     display: flex;
 }

 .flex-d-v {
     flex-direction: column;
 }

 .justify-Center {
     justify-content: center;
 }

 .justify-space-btn {
     justify-content: space-between;
 }

 .p-30 {
     padding: 30px;
 }

 .pl-60 {
     margin-bottom: 60px;
 }

 .ml-10 {
     margin-left: 10px;
 }

 .overflow {
     /* max-height: 220px; */
     /* Set the maximum height */
     overflow-y: auto;
     /* Enable vertical scrolling*/
     /* overflow: auto; */
 }

 .ml-10 {
     margin-left: 10px;
 }

 .my-30 {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .mt-30 {
     margin-top: 32px
 }

 .mt-30 {
     margin-top: 30px;
 }